[submodule "utap"]
	path = utap
	url = https://bitbucket.org/bbcu/utap/src/upgrade_utap/
	branch = upgrade_utap
[submodule "ngs-snakemake"]
	path = ngs-snakemake
	url = https://bitbucket.org/bbcu/ngs-snakemake/src/update_utap/
	branch = update_utap
