# Add any directories, files, or patterns you don't want to be tracked by version control

utap/static/*
utap/logs-utap/
utap/db.sqlite3
utap/*.pyc
utap/.project
utap/.settings
utap/.pydevproject
utap/.idea
utap/.tox
utap/nosetests.xml
utap/*.egg*
utap/build/
utap/dist/
